body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #000000;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea {
    width: calc(100% - 20px);
    max-width: 100%;
    height: 150px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

button {
    width: calc(100% - 20px);
    max-width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #ffffff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

#results {
    margin-top: 20px;
}

.available {
    color: green;
}

.unavailable {
    color: red;
}

.invalid {
    color: rgb(176, 28, 114);
}